# API key (secret, never real value here)
SECRET_API_KEY= replace-me

# Debug mode (never thrue in prodcution)
DEBUG=true

MODEL_REPO=https://github.com/schutera/pixelwise-model.git
MODEL_VERSION=v1.0
